{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content%}

<div class="container">
    <form action="/login" method="POST" autocomplete="off">
        <h2 class="titles" style="color:chocolate">Login</h2>
        <div class="mess">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">{{message}}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="form-class">
            <div class="input-boxes">
                <input type="text" name="name" placeholder="username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
            </div>
            <div class="options">
                <a class="text" href="#">New User</a>
                <a class="btn" href="{{ url_for('signup') }}">SignUp</a>
            </div>
            <a class="btn" href="/" style="background-color:transparent;color:aqua;">Home</a>
        </div>
    </form>
</div>
{% endblock %}